<MudText Typo="Typo.h6" Style="text-align:center;">Como ajudar?</MudText>



<div style="display:flex; justify-content:center;">
    <MudImage Src="ajuda.png" Width="332" Height="250" Alt="Swedish Farm House" Elevation="25" Class="rounded-lg ma-4" />

</div>


<MudExpansionPanels>
    <MudExpansionPanel Text="Apoiar e Consumo Consciente" MaxHeight="150" Expanded="false">
        Escolha produtos sustentáveis e evite itens ligados ao desmatamento.
    </MudExpansionPanel>
    <MudExpansionPanel Text="Reflorestamento e Preservação" MaxHeight="500">
        Participe de iniciativas de plantio e defenda áreas naturais protegidas.
    </MudExpansionPanel>
    <MudExpansionPanel Text="Educação e Conscientização" MaxHeight="1000">
        Divulgue informações sobre o desmatamento e promova a sustentabilidade.
    </MudExpansionPanel>
    <MudExpansionPanel Text="Reduzir, Reutilizar e Reciclar">
        Diminua o consumo, reaproveite materiais e pratique a reciclagem.
    </MudExpansionPanel>
</MudExpansionPanels>

@code {

}
